/*** Configura os slides individualmente ***/
.slides section{
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;
}

.slides section *{
  position: fixed;
  display: inline-block;
  width: max-content;
}

/*** SLIDE 01 - CAPA ***/
.slides section:nth-child(1) img{
  top: 15%;
  left: 0; 
  
  width: 10em;
}

.slides section:nth-child(1) h1{
  top: 15%;
  left: 30%; 
  
  font-size: 7em;
  
  color: #ff2c2d;
}

.slides section:nth-child(1) h2{
  top: 31%;
  left: 35.5%;
  
  font-size: 5em;
}

.slides section:nth-child(1) p{
  top: 70%;
  left: 28%;
  
  width: 50vw;
  
  color: #444;
  font-size: 1.5em;
}

.slides section:nth-child(1) strong{
  top: 73%;
  left: 10%;
  
  color: #ff2c2d;
  font-family: "Lato Bold";
  font-size: 1.25em;
}


/*** SLIDE 02 a 11 - GERAL ***/
.slides section h1{
  top: 30%;
  left: 0vw; 
  
  width: 40%;
  
  font-size: 5em;
  line-height: 1.1em;
  text-align: left;
}

.slides section h1 strong{
  top: 42%;
  left: 3vw;
  
  color: #ff2c2d;
}

/*** SLIDE 02 - PERCEPTIONS (1) ***/
.slides section:nth-child(2) h1 strong{
  top: 55%;
  left: 6%;
}

#question-mark-border,
#question-mark-normal{
  top: 30%;
  left: 38%;
  
  width: 6em;
}

/*** SLIDE 06 a 11 - MAPA ***/
.slides section:nth-child(6) h1,
.slides section:nth-child(7) h1,
.slides section:nth-child(8) h1,
.slides section:nth-child(9) h1,
.slides section:nth-child(10) h1,
.slides section:nth-child(11) h1,
.slides section:nth-child(12) h1,
.slides section:nth-child(14) h1,
.slides section:nth-child(15) h1{
  top: 15%;
  left: 0vw; 
}

.slides section:nth-child(6) h1 strong,
.slides section:nth-child(7) h1 strong,
.slides section:nth-child(8) h1 strong,
.slides section:nth-child(9) h1 strong,
.slides section:nth-child(10) h1 strong,
.slides section:nth-child(11) h1 strong,
.slides section:nth-child(12) h1 strong{
  top: 27%;
}

.slides section:nth-child(6) img,
.slides section:nth-child(7) img,
.slides section:nth-child(8) img,
.slides section:nth-child(9) img,
.slides section:nth-child(10) img,
.slides section:nth-child(11) img,
.slides section:nth-child(12) img,
.slides section:nth-child(14) img,
.slides section:nth-child(15) img{  
  top: 10%;
  left: 50%;
  
  width: 20em;
}

.slides section:nth-child(6) h2,
.slides section:nth-child(7) h2,
.slides section:nth-child(8) h2,
.slides section:nth-child(9) h2,
.slides section:nth-child(10) h2,
.slides section:nth-child(11) h2,
.slides section:nth-child(12) h2{  
  top: 45%;
  left: 0vw;
  
  font-family: "Lato Bold";
  font-size: 2.5em;
}

/*** SLIDE 06 - MAPA DE PAÍSES ***/

.slides section:nth-child(6) h2 strong{  
  top: 45%;
  left: 29%;
  
  font-family: "Lato Regular";
  color: #7f2aff;
}

/*** SLIDE 06 - MAPA DE REGIÕES ***/
.slides section:nth-child(7) h2{  
  left: 5%;
}

#afr-set{
  top: 45%; 
  color: #ff2c2d;
}

#afr-ocd{
  top: 55%;
  color: #17ff2e;
}

#afr-cnt{
  top: 65%;
  color: #7f2aff;
}

#afr-ort{
  top: 75%;
  color: #222;
}

#afr-mer{
  top: 85%;
  color: #ff7f2a;
}

/*** SLIDE 08 - MAPA DE CLIMAS ***/
.slides section:nth-child(8) h3{  
  left: 6.5%;
  
  font-size: 2.25em;
  font-family: "Lato Bold";
}

#clm-tpc{
  top: 52%;
  
  color: #3aaafc;
}

#clm-eqt{
  top: 58%;
  
  color: #0e73fc;
}

#clm-sbt{
  top: 64%;
  
  color: #5fc765;
}

#clm-drt{
  top: 70%;
  
  color: #ff9900;
}

/*** SLIDE 09 - MAPA DE TEMPERATURAS ***/
/*** SLIDE 10 - MAPA DE CHUVAS ***/
/*** SLIDE 10 - MAPA DE VEGETAÇÃO ***/
/*** SLIDE 11 - MAPA DE RIOS ***/
.slides section:nth-child(9) h2,
.slides section:nth-child(10) h2,
.slides section:nth-child(11) h2,
.slides section:nth-child(12) h2{
  width: 50%;
}

/*** SLIDE 14 a 18 - GERAL ***/

.slides section:nth-child(14) h1 strong,
.slides section:nth-child(15) h1 strong{
  top: 26%;
  width: 35%;
  left: 5%;
}

/*** SLIDE 14 - REINOS E IMPÉRIOS ***/

.slides section:nth-child(14) p{
  top: 55%;
  left: 0vw;
  
  width: 45%;
  
  font-family: "Lato Regular";
  font-size: 2em;
}

.slides section:nth-child(14) img{
  font-size: 0.75em;
}

/*** SLIDE 15 - REINOS E IMPÉRIOS (2) ***/
.slides section:nth-child(15) h3{
  left: 6%;
  
  font-family: "Lato Regular";
  font-size: 2em;
}

#afr-cng{
  top: 55%;
  color: #ae794d;
}

#afr-bmn{
  top: 60%;
  color: #ab5cfe;
}

#afr-rzw{
  top: 65%;
  color: #fe7f00;
}

#afr-skt{
  top: 70%;
  color: #00662c;
}

#afr-mar{
  top: 75%;
  color: #d1a9a4;
}

#afr-abs{
  top: 80%;
  color: #e2c43b;
}

#afr-zul{
  top: 85%;
  color: #a6ca61;
}

#afr-egt{
  top: 90%;
  color: #b52624;
}

#afr-amb{
  top: 95%;
  color: #003190;
}

/*** SLIDE 16 - COLONIZAÇÃO ***/

.slides section:nth-child(16) h1{
  left: 0%;
  top: 75%;
}

.slides section:nth-child(16) h1 strong{
  left: 25%;
  top: 75%;
}

.slides section:nth-child(16) img{
  left: 0%;
  top: 10%;
  
  width: 40em;
}

/*** SLIDE 17 - COLONIZAÇÃO (2) ***/
.slides section:nth-child(17) h1 strong:nth-child(1){
  font-size: 0.5em;
  
  text-decoration: line-through;
}

.slides section:nth-child(17) h1 strong:nth-child(1){
  top: 52%;
}

.slides section:nth-child(17) img{
  top: 30%;
  left: 55%;
  
  width: 18em;
}