/*** Configura os slides individualmente ***/
.slides section{
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;
}

.slides section *{
  position: fixed;
  display: inline-block;
  width: max-content;
}

/*** SLIDE 01 - CAPA ***/
.slides section:nth-child(1) img{
  top: 15%;
  left: 0; 
  
  width: 10em;
}

.slides section:nth-child(1) h1{
  top: 15%;
  left: 30%; 
  
  font-size: 7em;
  
  color: #ff2c2d;
}

.slides section:nth-child(1) h2{
  top: 31%;
  left: 35.5%;
  
  font-size: 5em;
}

.slides section:nth-child(1) p{
  top: 70%;
  left: 28%;
  
  width: 50vw;
  
  color: #444;
  font-size: 1.5em;
}

.slides section:nth-child(1) strong{
  top: 73%;
  left: 10%;
  
  color: #ff2c2d;
  font-family: "Lato Bold";
  font-size: 1.25em;
}


/*** SLIDE 02 a 11 - GERAL ***/
.slides section h1{
  top: 30%;
  left: 0vw; 
  
  width: 40%;
  
  font-size: 5em;
  line-height: 1.1em;
  text-align: left;
}

.slides section h1 strong{
  top: 42%;
  left: 3vw;
  
  color: #ff2c2d;
}

/*** SLIDE 02 - PERCEPTIONS (1) ***/
.slides section:nth-child(2) h1 strong{
  top: 55%;
  left: 6%;
}

#question-mark-border,
#question-mark-normal{
  top: 30%;
  left: 38%;
  
  width: 6em;
}

/*** SLIDE 06 a 11 - MAPA ***/
.slides section:nth-child(6) h1,
.slides section:nth-child(7) h1{
  top: 15%;
  left: 0vw; 
}

.slides section:nth-child(6) h1 strong,
.slides section:nth-child(7) h1 strong{
  top: 27%;
}

.slides section:nth-child(6) img,
.slides section:nth-child(7) img{  
  top: 5%;
  left: 50%;
  
  width: 20em;
}

.slides section:nth-child(6) h2,
.slides section:nth-child(7) h2{  
  top: 45%;
  left: 0vw;
  
  font-family: "Lato Bold";
  font-size: 2.5em;
}

/*** SLIDE 06 - MAPA DE PAÍSES ***/

.slides section:nth-child(6) h2 strong{  
  top: 45%;
  left: 29%;
  
  font-family: "Lato Regular";
  color: #7f2aff;
}

/*** SLIDE 06 - MAPA DE REGIÕES ***/
.slides section:nth-child(7) h2{  
  left: 5%;
}

#afr-set{
  top: 45%; 
  color: #ff2c2d;
}

#afr-ocd{
  top: 55%;
  color: #17ff2e;
}

#afr-cnt{
  top: 65%;
  color: #7f2aff;
}

#afr-ort{
  top: 75%;
  color: #222;
}

#afr-mer{
  top: 85%;
  color: #ff7f2a;
}